<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail du jeu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type="text/css" href="../css/theme.css">
</head>
<body>

    <h1 style="text-align: center;margin: 40px;">Ajouter un jeu</h1>

    <div class="col-4 mt-3" style="margin: auto">
        <div class="card">
            <div class="card-body">
                <form action="" th:action="'/gameshop/categories/'+${category.getId()}+'/addGame'" th:object="${formGame}" method="post" class="d-flex p-2 flex-column justify-content-center">
                    <input type="text" th:field="*{name}" class="mb-3" id="name" name="name" placeholder="Nom du jeu">
                    <input type="text" th:field="*{score}" class="mb-3" id="score" name="score" placeholder="Note sur 5">
                    <input type="text" th:field="*{price}" class="mb-3" id="price" name="price" placeholder="Prix (en centimes)">
                    <input type="textarea" th:field="*{description}" class="mb-3" id="description" name="description" placeholder="Description du jeu">
                    <input type="text" th:field="*{publisher}" class=mb-3" id="publisher" name="publisher" placeholder="Editeur">
                    <input class="btn btn-primary mt-3" type="submit" value="Ajouter le jeu">
                </form>
            </div>
        </div>
    </div>

</body>
</html>