<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail du jeu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type="text/css" href="../css/theme.css">
</head>
<body>

    <h1 th:text="${boardgame.getName()}" style="text-align: center;margin: 40px;">Nom du jeu</h1>

    <div class="row d-flex justify-content-center" style="margin-left: 5vw; margin-right: 5vw;">
        <div class="col-sm-10 mt-3">
            <div class="card d-flex justify-content-center" style="margin-bottom: 25px; border: none">
                <div class="card-body">
                    <h5 class="card-title">A propos du jeu</h5>
                    <p class="card-text" th:text="${boardgame.getCategoryName()}">Catégorie</p>
                    <p class="card-text" th:text="'Note : ' + ${boardgame.getScore()} + '/5'">Note</p>
                    <p class="card-text" th:text="'Prix : ' + ${boardgame.getPrice()} + ' €'">Prix</p>
                    <h5 class="card-title">Description et infos utiles</h5>
                    <p class="card-text" th:text="${boardgame.getDescription()}">Description</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="card-text" th:text="'Editeur : ' + ${boardgame.getPublisher()}">Editeur</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a th:href="'/gameshop/games/'+${boardgame.getId()}+'/modify'" href="#" class="btn btn-primary">Modifier</a>
                    <a th:href="'/gameshop/games/'+${boardgame.getId()}+'/delete'" href="#" class="btn btn-danger"  style="margin-left: 1vw;">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>