<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home Gameshop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

    <h1 style="text-align: center;margin: 25px">Gameshop : des jeux qu'ils sont bien</h1>

    <h2 style="text-align: center;margin: 15px">Nos coups de coeur</h2>

    <div th:if="${boardgames.isEmpty()}">
        <p style="text-align: center">Pas de jeux à lister (contacter l'administration du site)</p>
    </div>

    <div class="col-8 offset-2 mt-3" th:if="${!boardgames.isEmpty()}">
        <div class="card" style="margin-bottom: 25px" th:each="game : ${boardgames}">
            <div class="card-body">
                <h5 class="card-title" th:text="${game.getName()}">Nom</h5>
                <p class="card-text" th:text="${game.getCategory()}">Catégorie</p>
                <p class="card-text" th:text="${game.getScore()} /5">Note</p>
                <p class="card-text" th:text="${game.getPrice()}e">Prix</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Voir le jeu</a>
            </div>
        </div>
    </div>

    <h2 style="text-align: center;margin: 15px">Catégories populaires</h2>

    <div th:if="${categories.isEmpty()}">
        <p style="text-align: center">Pas de catégories à lister (contacter l'administration du site)</p>
    </div>

    <div class="col-8 offset-2 mt-3" th:if="${!categories.isEmpty()}">
        <div class="card" style="margin-bottom: 25px" th:each="cat : ${categories}">
            <div class="card-body">
                <a href="#" class="card-title" th:text="${cat.getName()}">Nom</a>
            </div>
        </div>
    </div>

</body>
</html>