<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home Gameshop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type="text/css" href="css/theme.css">
    <style>
        body {
            background-color: rgba(245, 134, 110, 0.95);
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src="https://i.imgur.com/dK74xzI.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-left: 2vw;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gameshop/categories">Nos catégories</a>
                </li>
            </ul>
        </div>
    </nav>

<!--    <img src="../files/banner.jpg" class="img-fluid " alt="Responsive image">-->

    <h1 style="text-align: center;margin: 40px;">Gameshop : des jeux qu'ils sont bien</h1>

    <h2 style="text-align: center;margin: 15px">Catégories populaires</h2>

    <div th:if="${categories.isEmpty()}">
        <p style="text-align: center">Pas de catégories à lister (contacter l'administration du site)</p>
    </div>

    <div class="row d-flex justify-content-center" th:if="${!categories.isEmpty()}" style="margin-left: 5vw; margin-right: 5vw;">
        <div class="col-sm-2 mt-3" th:each="cat : ${categories}">
            <div class="card d-flex justify-content-center" style="margin-bottom: 25px; border: none">
                <div class="card-body" style="text-align: center;">
                    <a th:href="'/gameshop/categories/'+${cat.getId()}" href="#" class="btn btn-primary" th:text="${cat.getName()}">Nom</a>
                </div>
            </div>
        </div>
    </div>

    <h2 style="text-align: center;margin: 15px">Nos coups de coeur</h2>

    <div th:if="${boardgames.isEmpty()}">
        <p style="text-align: center">Pas de jeux à lister (contacter l'administration du site)</p>
    </div>

    <div class="row d-flex justify-content-center" th:if="${!boardgames.isEmpty()}" style="margin-left: 5vw; margin-right: 5vw;">
        <div class="col-sm-4 mt-3" th:each="game : ${boardgames}" >
            <div class="card d-flex justify-content-center" style="margin-bottom: 25px">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center" th:text="${game.getName()}">Nom</h5>
                    <p class="card-text" th:text="${game.getCategoryName()}">Catégorie</p>
                    <p class="card-text" th:text="'Note : ' + ${game.getScore()} + '/5'">Note</p>
                    <p class="card-text" th:text="'Prix : ' + ${game.getPrice()} + ' €'">Prix</p>
                    <a th:href="'/gameshop/games/'+${game.getId()}" href="#" class="btn btn-primary">Voir le jeu</a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container d-flex justify-content-center">
            <span class="text-muted">Gameshop POC 2023</span>
        </div>
    </nav>

</body>
</html>